USE master
go
IF EXISTS(select * from sys.databases where name='CinemaBD')
DROP DATABASE CinemaBD

Go
Create Database CinemaBD

go
use CinemaBD

go
/****** Object:  Table [dbo].[COMBO]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBO](
	[MaCombo] [nvarchar](50) NOT NULL,
	[TenCombo] [nvarchar](100) NOT NULL,
	[Gia] [decimal](18, 0) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[Anh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCombo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMBODADAT]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBODADAT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GatewayTxnRef] [nvarchar](50) NOT NULL,
	[MaCombo] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[Gia] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GHE]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GHE](
	[MaGhe] [nvarchar](50) NOT NULL,
	[MaPhong] [nvarchar](50) NOT NULL,
	[LoaiGhe] [nvarchar](20) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_GHE] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC,
	[MaGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDons]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDons](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaKH] [nvarchar](50) NOT NULL,
	[GatewayTxnRef] [nvarchar](50) NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[NgayThanhToan] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUATCHIEU]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUATCHIEU](
	[MaSuatChieu] [nvarchar](50) NOT NULL,
	[MaPhim] [nvarchar](50) NOT NULL,
	[MaPhong] [nvarchar](50) NOT NULL,
	[NgayChieu] [date] NOT NULL,
	[GioBatDau] [time](0) NOT NULL,
	[GiaVe] [decimal](18, 0) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSuatChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[MaVe] [nvarchar](50) NOT NULL,
	[MaKH] [nvarchar](50) NULL,
	[MaSuatChieu] [nvarchar](50) NOT NULL,
	[MaGhe] [nvarchar](50) NOT NULL,
	[GiaVe] [decimal](18, 0) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[GatewayTxnRef] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ChiTietHoaDon]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ChiTietHoaDon]
AS
    -- DÒNG VÉ (GHẾ)
    SELECT
        hd.MaHD,
        hd.MaKH,
        hd.GatewayTxnRef,
        N'Ve'        AS LoaiDong,       -- để biết đây là vé
        v.MaVe       AS MaVe,
        v.MaSuatChieu,
        v.MaGhe,
        sc.MaPhong,
        g.LoaiGhe,
        1            AS SoLuong,
        v.GiaVe      AS DonGia,
        CAST(v.GiaVe AS decimal(18,2)) AS ThanhTien,
        g.MaGhe + N' (' + ISNULL(g.LoaiGhe, N'') + N')' AS TenDong
    FROM HoaDons hd
    JOIN VE v
        ON v.GatewayTxnRef = hd.GatewayTxnRef
    JOIN SUATCHIEU sc
        ON sc.MaSuatChieu = v.MaSuatChieu
    JOIN GHE g
        ON g.MaPhong = sc.MaPhong
       AND g.MaGhe   = v.MaGhe

    UNION ALL

    -- DÒNG COMBO
    SELECT
        hd.MaHD,
        hd.MaKH,
        hd.GatewayTxnRef,
        N'Combo'     AS LoaiDong,
        NULL         AS MaVe,
        NULL         AS MaSuatChieu,
        NULL         AS MaGhe,
        NULL         AS MaPhong,
        NULL         AS LoaiGhe,
        cdd.SoLuong  AS SoLuong,
        cdd.Gia      AS DonGia,
        CAST(cdd.SoLuong * cdd.Gia AS decimal(18,2)) AS ThanhTien,
        cb.TenCombo  AS TenDong
    FROM HoaDons hd
    JOIN COMBODADAT cdd
        ON cdd.GatewayTxnRef = hd.GatewayTxnRef
    JOIN COMBO cb
        ON cb.MaCombo = cdd.MaCombo;
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](150) NULL,
	[Phone] [nvarchar](20) NULL,
	[Role] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[MaCV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaiViet]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiViet](
	[MaBV] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](200) NULL,
	[MoTa] [nvarchar](500) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[Anh] [nvarchar](500) NULL,
	[NgayDang] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucNang]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucNang](
	[MaCN] [int] IDENTITY(1,1) NOT NULL,
	[TenChucNang] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaCV] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](100) NOT NULL,
	[IsMaster] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[MaDG] [int] IDENTITY(1,1) NOT NULL,
	[MaPhim] [nvarchar](50) NOT NULL,
	[MaKH] [nvarchar](50) NOT NULL,
	[NoiDung] [nvarchar](1000) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonChiTiet]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonChiTiet](
	[MaCT] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [nvarchar](50) NOT NULL,
	[LoaiDong] [nvarchar](20) NOT NULL,
	[MaVe] [nvarchar](50) NULL,
	[MaCombo] [nvarchar](50) NULL,
	[TenDong] [nvarchar](200) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[SDT] [nvarchar](20) NULL,
	[Email] [nvarchar](255) NULL,
	[TKhoan] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[MatKhau] [nvarchar](255) NULL,
	[TongChiTieu] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuHoaDons]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuHoaDons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](100) NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[SDT] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[NgayBatDau] [date] NULL,
	[MaCV] [int] NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaPQ] [int] IDENTITY(1,1) NOT NULL,
	[MaCV] [int] NULL,
	[MaCN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIM]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIM](
	[MaPhim] [nvarchar](50) NOT NULL,
	[TenPhim] [nvarchar](255) NOT NULL,
	[TheLoai] [nvarchar](100) NULL,
	[ThoiLuong] [int] NOT NULL,
	[DaoDien] [nvarchar](255) NULL,
	[DienVien] [nvarchar](500) NULL,
	[Nguon] [nvarchar](255) NULL,
	[GioiHanTuoi] [int] NULL,
	[MoTa] [nvarchar](max) NULL,
	[AnhDaiDien] [nvarchar](255) NULL,
	[Trailer] [nvarchar](255) NULL,
	[NgayKhoiChieu] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGCHIEU]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGCHIEU](
	[MaPhong] [nvarchar](50) NOT NULL,
	[TenPhong] [nvarchar](100) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuKien]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuKien](
	[MaSK] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](1000) NULL,
	[Anh] [nvarchar](500) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHTOAN]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHTOAN](
	[MaTT] [nvarchar](50) NOT NULL,
	[MaVe] [nvarchar](50) NULL,
	[SoTien] [decimal](18, 0) NOT NULL,
	[HinhThuc] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[PaymentGateway] [nvarchar](50) NULL,
	[GatewayTxnRef] [nvarchar](50) NULL,
	[GatewayTransNo] [nvarchar](50) NULL,
	[BankCode] [nvarchar](50) NULL,
	[CardType] [nvarchar](50) NULL,
	[PayDate] [datetime] NULL,
	[VnpResponseCode] [nvarchar](10) NULL,
	[VnpTransactionStatus] [nvarchar](10) NULL,
	[SecureHash] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 10/12/2025 9:57:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTL] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminID], [Username], [Password], [FullName], [Email], [Phone], [Role], [CreatedAt], [IsActive], [MaCV]) VALUES (1, N'admin', N'202cb962ac59075b964b07152d234b70', N'Admin', N'thanhthien20051006@gmail.com', NULL, N'Admin', CAST(N'2025-11-12T18:01:10.993' AS DateTime), 1, 5)
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[BaiViet] ON 

INSERT [dbo].[BaiViet] ([MaBV], [TieuDe], [MoTa], [NoiDung], [Anh], [NgayDang]) VALUES (1, N'Top 5 bom tấn phòng vé năm 2025 không thể bỏ lỡ', N'Danh sách những bộ phim hành động, siêu anh hùng và hoạt hình nổi bật nhất năm 2025.', N'Fast & Furious X và Avatar 3 được dự đoán sẽ là hai bộ phim nổi bật, thu hút lượng lớn khán giả ra rạp trong thời gian tới.', N'top-bomtan-2025.jpg', CAST(N'2025-10-25T00:00:00.000' AS DateTime))
INSERT [dbo].[BaiViet] ([MaBV], [TieuDe], [MoTa], [NoiDung], [Anh], [NgayDang]) VALUES (2, N'Review: Inside Out 2 – Khi cảm xúc trưởng thành cùng tuổi teen', N'Phần tiếp theo của Pixar khai thác tâm lý tuổi dậy thì đầy tinh tế.', N'Inside Out 2 khai thác hành trình Riley bước vào tuổi teen, khi các cảm xúc cũ buộc phải nhường chỗ cho những cảm xúc mới phức tạp hơn — từ lo âu, xấu hổ cho đến hoài nghi. Bộ phim cho thấy quá trình trưởng thành không phải là loại bỏ cảm xúc, mà là học cách sống chung với hỗn độn bên trong mình.', N'insideout2.jpg', CAST(N'2025-09-15T00:00:00.000' AS DateTime))
INSERT [dbo].[BaiViet] ([MaBV], [TieuDe], [MoTa], [NoiDung], [Anh], [NgayDang]) VALUES (3, N'Marvel công bố Phase 6 – Sự trở lại của Iron Man?', N'Kevin Feige úp mở khả năng Tony Stark tái xuất trong đa vũ trụ.', N'Marvel công bố Phase 6 với hàng loạt dự án mới, nhưng thông tin Iron Man trở lại vẫn chỉ dừng ở mức đồn đoán. Studio không đưa ra xác nhận nào về việc Tony Stark xuất hiện lại, dù kỳ vọng của người hâm mộ vẫn rất lớn.', N'marvel-phase6.jpg', CAST(N'2025-08-21T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[BaiViet] OFF
GO
SET IDENTITY_INSERT [dbo].[ChucNang] ON 

INSERT [dbo].[ChucNang] ([MaCN], [TenChucNang]) VALUES (1, N'Quản lý phim')
INSERT [dbo].[ChucNang] ([MaCN], [TenChucNang]) VALUES (2, N'Quản lý lịch chiếu')
INSERT [dbo].[ChucNang] ([MaCN], [TenChucNang]) VALUES (3, N'Quản lý phòng chiếu')
SET IDENTITY_INSERT [dbo].[ChucNang] OFF
GO
SET IDENTITY_INSERT [dbo].[ChucVu] ON 

INSERT [dbo].[ChucVu] ([MaCV], [TenChucVu], [IsMaster], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Quản lý', 1, 1, CAST(N'2025-11-12T15:02:51.7265485' AS DateTime2), NULL)
INSERT [dbo].[ChucVu] ([MaCV], [TenChucVu], [IsMaster], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'Nhân viên bán vé', 0, 1, CAST(N'2025-11-12T15:02:51.7265485' AS DateTime2), CAST(N'2025-11-12T15:32:31.1059172' AS DateTime2))
INSERT [dbo].[ChucVu] ([MaCV], [TenChucVu], [IsMaster], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Nhân viên kiểm soát vé', 0, 1, CAST(N'2025-11-12T15:02:51.7265485' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ChucVu] OFF
GO
INSERT [dbo].[COMBO] ([MaCombo], [TenCombo], [Gia], [MoTa], [Anh]) VALUES (N'CB01', N'Bắp rang bơ + Trà tắc', CAST(55000 AS Decimal(18, 0)), N'1 bắp rang bơ + 1 ly trà tắc', N'combo1.jpg')
INSERT [dbo].[COMBO] ([MaCombo], [TenCombo], [Gia], [MoTa], [Anh]) VALUES (N'CB02', N'Bắp phomai + Sữa bắp', CAST(70000 AS Decimal(18, 0)), N'1 bắp phomai + 1 sữa bắp', N'combo2.jpg')
INSERT [dbo].[COMBO] ([MaCombo], [TenCombo], [Gia], [MoTa], [Anh]) VALUES (N'CB03', N'Combo đôi: 2 nước mía + bắp', CAST(95000 AS Decimal(18, 0)), N'1 bắp size L + 2 nước mía', N'combo3.jpg')
GO
SET IDENTITY_INSERT [dbo].[COMBODADAT] ON 

INSERT [dbo].[COMBODADAT] ([Id], [GatewayTxnRef], [MaCombo], [SoLuong], [Gia]) VALUES (1, N'TXN251117135929352', N'CB03', 1, CAST(95000 AS Decimal(18, 0)))
INSERT [dbo].[COMBODADAT] ([Id], [GatewayTxnRef], [MaCombo], [SoLuong], [Gia]) VALUES (2, N'TXN251117142252853', N'CB03', 1, CAST(95000 AS Decimal(18, 0)))
INSERT [dbo].[COMBODADAT] ([Id], [GatewayTxnRef], [MaCombo], [SoLuong], [Gia]) VALUES (3, N'TXN251117145252955', N'CB02', 1, CAST(70000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[COMBODADAT] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhGia] ON 

INSERT [dbo].[DanhGia] ([MaDG], [MaPhim], [MaKH], [NoiDung], [NgayTao]) VALUES (1, N'VN001', N'KH1679797060', N'Phim xem ổn, nhịp khá tốt, kỹ xảo vừa đủ, dễ xem cuối tuần với bạn bè.', CAST(N'2025-11-20T17:50:22.120' AS DateTime))
INSERT [dbo].[DanhGia] ([MaDG], [MaPhim], [MaKH], [NoiDung], [NgayTao]) VALUES (2, N'VN002', N'KH1679797060', N'Nội dung không quá mới nhưng diễn viên diễn ổn, xem giải trí thì được.', CAST(N'2025-11-18T17:50:22.120' AS DateTime))
SET IDENTITY_INSERT [dbo].[DanhGia] OFF
GO
INSERT [dbo].[GHE] ([MaGhe], [MaPhong], [LoaiGhe], [TrangThai]) VALUES (N'A1', N'PC01', N'THUONG', N'Hoạt động')
INSERT [dbo].[GHE] ([MaGhe], [MaPhong], [LoaiGhe], [TrangThai]) VALUES (N'A2', N'PC01', N'THUONG', N'Hoạt động')
INSERT [dbo].[GHE] ([MaGhe], [MaPhong], [LoaiGhe], [TrangThai]) VALUES (N'A3', N'PC01', N'VIP', N'Hoạt động')
GO
SET IDENTITY_INSERT [dbo].[HoaDonChiTiet] ON 

INSERT [dbo].[HoaDonChiTiet] ([MaCT], [MaHD], [LoaiDong], [MaVe], [MaCombo], [TenDong], [SoLuong], [DonGia]) VALUES (1, N'HD639005704039164293', N'Combo', NULL, N'CB02', N'Bắp phomai + Sữa bắp', 1, CAST(70000.00 AS Decimal(18, 2)))
INSERT [dbo].[HoaDonChiTiet] ([MaCT], [MaHD], [LoaiDong], [MaVe], [MaCombo], [TenDong], [SoLuong], [DonGia]) VALUES (2, N'HD639008693486456865', N'Combo', NULL, N'CB02', N'Bắp phomai + Sữa bắp', 1, CAST(70000.00 AS Decimal(18, 2)))
INSERT [dbo].[HoaDonChiTiet] ([MaCT], [MaHD], [LoaiDong], [MaVe], [MaCombo], [TenDong], [SoLuong], [DonGia]) VALUES (3, N'HD639009960165225521', N'Combo', NULL, N'CB02', N'Bắp phomai + Sữa bắp', 3, CAST(70000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[HoaDonChiTiet] OFF
GO
INSERT [dbo].[HoaDons] ([MaHD], [MaKH], [GatewayTxnRef], [TongTien], [NgayThanhToan], [TrangThai], [GhiChu]) VALUES (N'HD638990545576640283', N'KH1679797060', N'TXN251118022213515', CAST(120000.00 AS Decimal(18, 2)), CAST(N'2025-11-18T09:22:34.000' AS DateTime), N'Đã thanh toán', N'Thanh toán VNPAY - GD: 15267730 - NH: NCB')
INSERT [dbo].[HoaDons] ([MaHD], [MaKH], [GatewayTxnRef], [TongTien], [NgayThanhToan], [TrangThai], [GhiChu]) VALUES (N'HD638990849913105660', N'KH1679797060', N'TXN251118104902329', CAST(145000.00 AS Decimal(18, 2)), CAST(N'2025-11-18T17:49:47.000' AS DateTime), N'Đã thanh toán', N'Thanh toán VNPAY - GD: 15269074 - NH: NCB')
INSERT [dbo].[HoaDons] ([MaHD], [MaKH], [GatewayTxnRef], [TongTien], [NgayThanhToan], [TrangThai], [GhiChu]) VALUES (N'HD638990924208266670', N'KH1679797060', N'TXN251118125315595', CAST(145000.00 AS Decimal(18, 2)), CAST(N'2025-11-18T19:53:37.000' AS DateTime), N'Đã thanh toán', N'Thanh toán VNPAY - GD: 15269287 - NH: NCB')
GO
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [SDT], [Email], [TKhoan], [NgaySinh], [MatKhau], [TongChiTieu]) VALUES (N'KH001', N'Trần Thanh Thiện', N'0901234569', N'thanhthien10062005@gmail.com', N'ttt', CAST(N'2005-06-10' AS Date), N'5fa285e1bebe0a6623e33afc04a1fbd5', CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [SDT], [Email], [TKhoan], [NgaySinh], [MatKhau], [TongChiTieu]) VALUES (N'KH1679797060', N'Trần Thanh Thiện', N'0901234569', N'thanhthien20051006@gmail.com', N'ttt123', CAST(N'2006-07-10' AS Date), N'202cb962ac59075b964b07152d234b70', CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [SDT], [Email], [TKhoan], [NgaySinh], [MatKhau], [TongChiTieu]) VALUES (N'KH20251118203033366', N'Trần Thanh Thiện', N'0901234569', N'thanhthien20051006@gmail.com', N'ttt1', CAST(N'2006-06-10' AS Date), N'e10adc3949ba59abbe56e057f20f883e', NULL)
GO
SET IDENTITY_INSERT [dbo].[LichSuHoaDons] ON 

INSERT [dbo].[LichSuHoaDons] ([Id], [MaHD], [TrangThai], [ThoiGian], [GhiChu]) VALUES (1, N'HD638990545576640283', N'Đã thanh toán', CAST(N'2025-11-18T09:22:37.667' AS DateTime), N'VNPAY OK - Resp=00')
INSERT [dbo].[LichSuHoaDons] ([Id], [MaHD], [TrangThai], [ThoiGian], [GhiChu]) VALUES (2, N'HD638990849913105660', N'Đã thanh toán', CAST(N'2025-11-18T17:49:51.310' AS DateTime), N'VNPAY OK - Resp=00')
INSERT [dbo].[LichSuHoaDons] ([Id], [MaHD], [TrangThai], [ThoiGian], [GhiChu]) VALUES (3, N'HD638990924208266670', N'Đã thanh toán', CAST(N'2025-11-18T19:53:40.830' AS DateTime), N'VNPAY OK - Resp=00')
SET IDENTITY_INSERT [dbo].[LichSuHoaDons] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [SDT], [Email], [NgayBatDau], [MaCV], [TrangThai]) VALUES (1, N'Admin', CAST(N'2005-06-10' AS Date), N'0353214873', N'thanhthien20051006@gmail.com', CAST(N'2024-01-01' AS Date), 1, 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [SDT], [Email], [NgayBatDau], [MaCV], [TrangThai]) VALUES (2, N'Trần Văn Duyệt', CAST(N'1990-01-01' AS Date), N'0123456789', N'duyetan03@gmail.com', CAST(N'2024-01-01' AS Date), 2, 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [SDT], [Email], [NgayBatDau], [MaCV], [TrangThai]) VALUES (3, N'Đỗ Văn Đại', CAST(N'1990-09-10' AS Date), N'0901234569', N'abcxyz@gmail.com', CAST(N'2024-01-01' AS Date), 3, 1)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanQuyen] ON 

INSERT [dbo].[PhanQuyen] ([MaPQ], [MaCV], [MaCN]) VALUES (1, 1, 1)
INSERT [dbo].[PhanQuyen] ([MaPQ], [MaCV], [MaCN]) VALUES (2, 1, 2)
INSERT [dbo].[PhanQuyen] ([MaPQ], [MaCV], [MaCN]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[PhanQuyen] OFF
GO
INSERT [dbo].[PHIM] ([MaPhim], [TenPhim], [TheLoai], [ThoiLuong], [DaoDien], [DienVien], [Nguon], [GioiHanTuoi], [MoTa], [AnhDaiDien], [Trailer], [NgayKhoiChieu], [NgayKetThuc], [TrangThai]) VALUES (N'VN001', N'Đảo Của Dân Ngụ Cư', N'Tâm lý', 95, N'Hồng Ánh', N'Phạm Hồng Phước, Ngọc Thanh Tâm', NULL, 18, N'Một lát cắt về thân phận con người nơi quán ăn trên đảo.', N'daocuadanngucu.jpg', N'https://youtu.be/0CiB8YTGkrw?si=atsR2cG6KkxZLlyr', CAST(N'2025-11-10' AS Date), CAST(N'2025-12-25' AS Date), N'Đang chiếu')
INSERT [dbo].[PHIM] ([MaPhim], [TenPhim], [TheLoai], [ThoiLuong], [DaoDien], [DienVien], [Nguon], [GioiHanTuoi], [MoTa], [AnhDaiDien], [Trailer], [NgayKhoiChieu], [NgayKetThuc], [TrangThai]) VALUES (N'VN002', N'Lật Mặt: Hồi Ức', N'Hành động', 115, N'Lý Hải', N'Lý Hải, Thuý Diễm', NULL, 13, N'Hành trình lật mở sự thật qua những mảnh kí ức.', N'latmat.jpg', N'https://youtu.be/QdtPQ0wV53M?si=9bBONH4n--ju1LX_', CAST(N'2025-11-10' AS Date), CAST(N'2025-12-31' AS Date), N'Đang chiếu')
INSERT [dbo].[PHIM] ([MaPhim], [TenPhim], [TheLoai], [ThoiLuong], [DaoDien], [DienVien], [Nguon], [GioiHanTuoi], [MoTa], [AnhDaiDien], [Trailer], [NgayKhoiChieu], [NgayKetThuc], [TrangThai]) VALUES (N'VN003', N'Nhà Bà Nữ 2', N'Hài, Gia đình', 110, N'Trấn Thành', N'Uyển Ân, Lê Giang', NULL, 13, N'Những va chạm đời sống gia đình Sài Gòn đương đại.', N'nhabanu.jpg', N'https://youtu.be/IkaP0KJWTsQ?si=5f-dLEppU4vyW_JU', CAST(N'2025-11-10' AS Date), CAST(N'2025-12-28' AS Date), N'Đang chiếu')
GO
INSERT [dbo].[PHONGCHIEU] ([MaPhong], [TenPhong], [SoLuong], [TrangThai]) VALUES (N'PC01', N'Phòng 1', 30, N'Hoạt động')
INSERT [dbo].[PHONGCHIEU] ([MaPhong], [TenPhong], [SoLuong], [TrangThai]) VALUES (N'PC02', N'Phòng 2', 30, N'Hoạt động')
INSERT [dbo].[PHONGCHIEU] ([MaPhong], [TenPhong], [SoLuong], [TrangThai]) VALUES (N'PC03', N'Phòng 3', 30, N'Bảo trì')
GO
INSERT [dbo].[SUATCHIEU] ([MaSuatChieu], [MaPhim], [MaPhong], [NgayChieu], [GioBatDau], [GiaVe], [TrangThai]) VALUES (N'S_VN001_1110_01', N'VN001', N'PC01', CAST(N'2025-11-10' AS Date), CAST(N'10:00:00' AS Time), CAST(50000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[SUATCHIEU] ([MaSuatChieu], [MaPhim], [MaPhong], [NgayChieu], [GioBatDau], [GiaVe], [TrangThai]) VALUES (N'S_VN001_1110_02', N'VN001', N'PC01', CAST(N'2025-11-10' AS Date), CAST(N'12:00:00' AS Time), CAST(50000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[SUATCHIEU] ([MaSuatChieu], [MaPhim], [MaPhong], [NgayChieu], [GioBatDau], [GiaVe], [TrangThai]) VALUES (N'S_VN001_1110_03', N'VN001', N'PC01', CAST(N'2025-11-10' AS Date), CAST(N'14:00:00' AS Time), CAST(50000 AS Decimal(18, 0)), NULL)
GO
SET IDENTITY_INSERT [dbo].[SuKien] ON 

INSERT [dbo].[SuKien] ([MaSK], [TieuDe], [MoTa], [Anh], [NgayBatDau], [NgayKetThuc]) VALUES (1, N'Chương trình tích điểm thành viên 2025', N'Tăng tỷ lệ tích điểm cho vé và F&B lên đến 10% dành cho hạng Platinum.', N'sk1.jpg', CAST(N'2025-06-29' AS Date), CAST(N'2025-12-31' AS Date))
INSERT [dbo].[SuKien] ([MaSK], [TieuDe], [MoTa], [Anh], [NgayBatDau], [NgayKetThuc]) VALUES (2, N'Combo Bánh Mì Que chỉ 50.000đ', N'Thưởng thức bánh mì que pate chà bông, xúc xích phô mai thơm ngon tại rạp.', N'sk2.jpg', CAST(N'2025-06-29' AS Date), CAST(N'2025-12-31' AS Date))
INSERT [dbo].[SuKien] ([MaSK], [TieuDe], [MoTa], [Anh], [NgayBatDau], [NgayKetThuc]) VALUES (3, N'Trải nghiệm Super Plex với âm thanh Dolby Atmos', N'Khám phá công nghệ màn hình khổng lồ và âm thanh rạp phim đỉnh cao.', N'sk3.jpg', CAST(N'2025-06-29' AS Date), CAST(N'2025-12-22' AS Date))
SET IDENTITY_INSERT [dbo].[SuKien] OFF
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([MaTL], [TenTheLoai], [MoTa], [CreatedAt], [UpdatedAt]) VALUES (1, N'Hành Động', N'Pha hành động, đua xe, chiến đấ', CAST(N'2025-11-12T16:00:27.8370319' AS DateTime2), CAST(N'2025-12-10T13:46:52.5628433' AS DateTime2))
INSERT [dbo].[TheLoai] ([MaTL], [TenTheLoai], [MoTa], [CreatedAt], [UpdatedAt]) VALUES (2, N'Hài Kịch', N'Hài hước, giải trí nhẹ nhàng', CAST(N'2025-11-12T16:00:27.8370319' AS DateTime2), NULL)
INSERT [dbo].[TheLoai] ([MaTL], [TenTheLoai], [MoTa], [CreatedAt], [UpdatedAt]) VALUES (3, N'Kinh Dị', N'Yếu tố hù dọa, giật gân', CAST(N'2025-11-12T16:00:27.8370319' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
GO
INSERT [dbo].[VE] ([MaVe], [MaKH], [MaSuatChieu], [MaGhe], [GiaVe], [TrangThai], [NgayDat], [GatewayTxnRef]) VALUES (N'VE083C05', N'KH20251118203033366', N'S_VN016_20251209_1115_PC02', N'D3', CAST(80000 AS Decimal(18, 0)), N'Pending', CAST(N'2025-12-08T23:01:23.183' AS DateTime), N'TXN251208160123168')
INSERT [dbo].[VE] ([MaVe], [MaKH], [MaSuatChieu], [MaGhe], [GiaVe], [TrangThai], [NgayDat], [GatewayTxnRef]) VALUES (N'VE3FC102', N'KH1679797060', N'S_VN025_20251125_1330_PC03', N'D2', CAST(50000 AS Decimal(18, 0)), N'Paid', CAST(N'2025-11-20T21:21:25.670' AS DateTime), N'TXN251120142125668')
INSERT [dbo].[VE] ([MaVe], [MaKH], [MaSuatChieu], [MaGhe], [GiaVe], [TrangThai], [NgayDat], [GatewayTxnRef]) VALUES (N'VE43B150', N'KH1679797060', N'S_VN022_20251123_1800_PC05', N'D6', CAST(50000 AS Decimal(18, 0)), N'Paid', CAST(N'2025-11-20T21:02:48.323' AS DateTime), N'TXN251120140248317')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admin__536C85E4E71BF05F]    Script Date: 10/12/2025 9:57:56 CH ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TheLoai__327F958F2FE1D1FF]    Script Date: 10/12/2025 9:57:56 CH ******/
ALTER TABLE [dbo].[TheLoai] ADD UNIQUE NONCLUSTERED 
(
	[TenTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BaiViet] ADD  DEFAULT (getdate()) FOR [NgayDang]
GO
ALTER TABLE [dbo].[ChucVu] ADD  CONSTRAINT [DF_ChucVu_IsMaster]  DEFAULT ((0)) FOR [IsMaster]
GO
ALTER TABLE [dbo].[ChucVu] ADD  CONSTRAINT [DF_ChucVu_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ChucVu] ADD  CONSTRAINT [DF_ChucVu_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DanhGia] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF_NhanVien_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PHIM] ADD  DEFAULT ((0)) FOR [ThoiLuong]
GO
ALTER TABLE [dbo].[PHONGCHIEU] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[THANHTOAN] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[TheLoai] ADD  CONSTRAINT [DF_TheLoai_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VE] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_ChucVu] FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_ChucVu]
GO
ALTER TABLE [dbo].[COMBODADAT]  WITH CHECK ADD  CONSTRAINT [FK_COMBODADAT_COMBO] FOREIGN KEY([MaCombo])
REFERENCES [dbo].[COMBO] ([MaCombo])
GO
ALTER TABLE [dbo].[COMBODADAT] CHECK CONSTRAINT [FK_COMBODADAT_COMBO]
GO
ALTER TABLE [dbo].[GHE]  WITH CHECK ADD  CONSTRAINT [FK_GHE_PHONGCHIEU] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONGCHIEU] ([MaPhong])
GO
ALTER TABLE [dbo].[GHE] CHECK CONSTRAINT [FK_GHE_PHONGCHIEU]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonChiTiet_COMBO] FOREIGN KEY([MaCombo])
REFERENCES [dbo].[COMBO] ([MaCombo])
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [FK_HoaDonChiTiet_COMBO]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonChiTiet_HoaDons] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDons] ([MaHD])
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [FK_HoaDonChiTiet_HoaDons]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonChiTiet_VE] FOREIGN KEY([MaVe])
REFERENCES [dbo].[VE] ([MaVe])
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [FK_HoaDonChiTiet_VE]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[LichSuHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_LichSuHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDons] ([MaHD])
GO
ALTER TABLE [dbo].[LichSuHoaDons] CHECK CONSTRAINT [FK_LichSuHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD FOREIGN KEY([MaCN])
REFERENCES [dbo].[ChucNang] ([MaCN])
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[SUATCHIEU]  WITH CHECK ADD  CONSTRAINT [FK_SC_PHIM] FOREIGN KEY([MaPhim])
REFERENCES [dbo].[PHIM] ([MaPhim])
GO
ALTER TABLE [dbo].[SUATCHIEU] CHECK CONSTRAINT [FK_SC_PHIM]
GO
ALTER TABLE [dbo].[SUATCHIEU]  WITH CHECK ADD  CONSTRAINT [FK_SC_PHONG] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONGCHIEU] ([MaPhong])
GO
ALTER TABLE [dbo].[SUATCHIEU] CHECK CONSTRAINT [FK_SC_PHONG]
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_TT_VE] FOREIGN KEY([MaVe])
REFERENCES [dbo].[VE] ([MaVe])
GO
ALTER TABLE [dbo].[THANHTOAN] CHECK CONSTRAINT [FK_TT_VE]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_KH]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_SC] FOREIGN KEY([MaSuatChieu])
REFERENCES [dbo].[SUATCHIEU] ([MaSuatChieu])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_SC]
GO
